[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Flask-Cors = "*"
Flask-SQLAlchemy = "*"
flask-blueprint = "*"
gunicorn = "*"
Flask-Bcrypt = "*"
Flask-Mail = "*"
pymysql = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
sqlalchemy-mptt = "*"
nodeenv = "*"
flask-babel = "*"
itsdangerous = "*"

[dev-packages]

[requires]
python_version = "3.8"
